:root {
    --color-1: #ff8000;
    --color-2: #ffb03b;

    --color-3: #07212e;
}
.formsModal label {
    width: 50px;
}
.formsModal input,
.formsModal select {
    text-align: left !important;
}
.restoCard h6 {
    transition: all 0.5s;
}

.restoCard h6:hover {
    transform: scale(1.2) translateY(12%);

    transition: all 0.5s;
}

.restoCard .headerResto {
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
}

.restoCard .titleResto {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}
.menuResto li a {
    color: #012738 !important;
}
.menuResto .nav-item .active {
    color: #fea116 !important;
    border: none !important;
    font-weight: bold !important;
}
.btn-group .active {
    background-color: #fea116 !important;
    border: none !important;
    border: 1px solid #fea116 !important;
}
.btn-outline-primary:active {
    background-color: #fea116 !important;
    border: 1px solid #fea116 !important;
}
.btn-outline-primary:hover {
    background-color: #fea116 !important;
    color: #012738 !important;
}
.btn-outline-primary:not(.active) > div .fa-check-circle {
    display: none;
}
.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
}

.close-btn span {
    color: #ccc;
}

.modal .btn {
    background-color: #023047;
    color: white;
}

.modal .btn:hover {
    background-color: var(--color-1);
    color: white;
}

.close-btn:hover span {
    color: #000;
}

.modal {
    border-radius: 7px;
    background-color: transparent;
}

.modal .logo a img {
    width: 30px;
}

.modal .modal-content {
    background-color: white;
    border: none;
    border-radius: 7px !important;
}

.modal .modal-content .modal-body {
    border-radius: 7px;
    background-color: #fff;
    padding-left: 0px;
    padding-right: 0px;
}

.modal .modal-content .modal-body h2 {
    font-size: 18px;
}

.modal .modal-content .modal-body p {
    color: #777;
    font-size: 14px;
}

.modal .modal-content .modal-body h3 {
    color: #000;
    font-size: 22px;
}

.modal .modal-content .modal-body .close-btn {
    color: #000;
}

.modal .modal-content .modal-body .promo-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.modal .modal-content .modal-body .promo-img .price {
    top: 20px;
    left: 20px;
    position: absolute;
    color: #fff;
}

.modal .btn {
    border-radius: 30px;
}

.modal .warp-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    background: rgba(62, 100, 255, 0.05);
    color: #023047;
    border-radius: 50%;
}
.modal .warp-icon span {
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.input-group {
    padding-left: 0;
    padding-right: 0;
    transition: all linear 0.4s;
    border: 1px solid #ccc !important;
}

/* .form-control {
    padding-left: 0;
    padding-right: 0;
    transition: all linear 0.4s;
    border: 1px solid #ccc !important;
    box-shadow: none !important;
} */

/* .modal-backdrop {
    display: none;
} */
@media (max-width: 992px) {
    .offcanvas-end {
        width: 90% !important;
    }
    .offcanvas-start-lg {
        top: 0;
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        transform: translateX(-100%);
    }
}
.input-group:active,
.input-group:focus,
.input-group:hover {
    border: 1px solid var(--color-1) !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    transition: all linear 0.4s;
}
.cart input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.cart input:focus::-webkit-input-placeholder {
    color: transparent;
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media (max-width: 767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@media (max-width: 767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}
.summary .col-2 {
    padding: 0;
}
.summary .col-10 {
    padding: 0;
}

.title b {
    font-size: 1.5rem;
}

.cart .main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}

.cart .col-2,
.col {
    padding: 0 1vh;
}

.cart a {
    padding: 0 1vh;
}

.cart .close {
    margin-left: auto;
    font-size: 0.7rem;
}

.cart img {
    width: 3.5rem;
}

.cart .back-to-shop {
    margin-top: 4.5rem;
}

.cart h5 {
    margin-top: 4vh;
}

.cart hr {
    margin-top: 1.25rem;
}

.cart form {
    padding: 2vh 0;
}

.cart .btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.cart .btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none;
}
.cart .btn:hover {
    color: white;
}

.cart #code {
    background-image: linear-gradient(
            to left,
            rgba(255, 255, 255, 0.253),
            rgba(255, 255, 255, 0.185)
        ),
        url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}
